/* Mulish Font Imported */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    /* width: 1440px; */
    background-color: #fff;
    /* border: 2px solid red; */
    margin: 0 auto;
}

.orange-color {
    color: #FF5400;
}

.text-gray {
    color: #424247;
    font-size: 1rem;
}

.text-white {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

/* Header Related Styles */
header {
    max-width: 1170px;
    margin: 0 auto;
    /* border: 2px solid blue */
}

.nav-section {
    padding: 52px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    width: 50%;
    display: flex;
}

.logo-section .nav-icon {
    width: 50px;
}

.logo-section h2 {
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-section ul {
    display: flex;
}

.nav-section ul li {
    list-style-type: none;
    margin-right: 44px;
}

.nav-section ul li:nth-last-child(1) {
    margin-right: 0;
}

.nav-section ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.25rem;
    font-weight: 400;
}

/* hero section related styles */
.banner-section {
    /* border: 2px solid red; */
    height: 100%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/explore-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    border-radius: 16px;


}

.banner-container {
    margin: 0 auto;
    padding: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.banner-description-section h2 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-input-section {
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    color: rgba(19, 19, 24, 0.50);
    font-weight: 400;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.btn-find-now {
    display: inline-block;
    background: #FF5400;
    cursor: pointer;
}

.banner-input-section>input,
select,
.btn-find-now {
    /* border: 1px solid red; */
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    flex-basis: 25%;
}

/* Main Section Common Styles */
main {
    max-width: 1170px;
    margin: 50px auto;
}

.common-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
}

/* Popular Section Related Styles here */
.popular {
    display: flex;
    justify-content: center;

}

.popular-content-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

}

.popular-title,
.popular-description,
.unorder-list,
.popular-summery {
    margin-bottom: 25px;
}

.unorder-list {
    margin-left: 20px;
}

.unorder-list li {
    margin-bottom: 25px;
}

.popular-image-section {
    width: 50%;
}

/* Destination Section Styles */
.destination {
    margin: 48px auto;
}

.destination-content {
    text-align: center;
    margin-bottom: 48px;
}

.destionation-title {
    margin-bottom: 20px;
}

.destination-gallery img {
    width: 100%;
    height: 100%;
}

.destination-gallery {
    
    font-size: 1.8rem;
    font-weight: 800;
    
    color: #fff;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "h h h h h h h2 h2 h2 h2 h2 h2"
        "m1 m1 m1 m2 m2 m2 m2 m2 m2 m3 m3 m3"
        "f1 f1 f1 f1 f f f f f f f f"
    ;
}

.destination-gallery .img-1 {
    position: relative;
    text-align: center;
    grid-area: h;
}

.destination-gallery .img-2 {
    position: relative;
    text-align: center;
    width: 100%;
    grid-area: h2;
}

.destination-gallery .img-3 {
    position: relative;
    text-align: center;
    grid-area: m1;
}

.destination-gallery .img-4 {
    position: relative;
    text-align: center;
    grid-area: m2;
}

.destination-gallery .img-5 {
    position: relative;
    text-align: center;
    grid-area: m3;
}

.destination-gallery .img-6 {
    position: relative;
    text-align: center;
    grid-area: f1;
}

.destination-gallery .img-7 {
    position: relative;
    text-align: center;
    grid-area: f;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Choose use related styles here */
.cart-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart-section1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cart {
    padding: 32px;
    width: 550px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    color: #131318;
    font-weight: 800;
}

.cart-section1 .cart-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.icon {
    font-size: 4rem;
}

.cart h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 20px auto;
}

.cart-section2 {
    width: 550px;
    margin: 0 auto;
}

/* News letter Related Styles here */
.news-letter {
    margin: 100px auto;
}

.news-letter-container {
    display: flex;
    justify-content: center;
    gap: 20px
}

.news-letter-form {

    border: 1px solid #FF5400;
    border-radius: 16px;
    width: 40%;
    padding: 20px;
    /* border: 2px solid red; */
}

.news-letter-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}

.news-letter-form form input {
    padding: 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;


}

.news-letter-form form button {
    width: 100%;
    cursor: pointer;
}

.new-letter-images {
    text-align: center;
    position: relative;
}

.save-up-box {
    color: #FFF;
    padding: 20px;
    width: 300px;
    background-color: #FF5400;
    border-radius: 16px;
    position: absolute;
    bottom: 60px;
    right: 5px;
    transform: rotate(-22deg);
}


/* footer styles */

footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 200px 100px;
    text-align: center;
}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.footer-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
}

.social-icons {
    font-size: 2rem;
}

.fa-brands {
    margin-right: 20px;
}

.copyright {
    margin-top: 50px;
}